<!-- shared/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" 
        href="{% if session.get('user_type') == 'admin' %}
                  {{ url_for('admin.dashboard') }}
              {% elif session.get('user_type') == 'teacher' %}
                  {{ url_for('teacher.dashboard') }}
              {% elif session.get('user_type') == 'student' %}
                  {{ url_for('student.dashboard') }}
              {% else %}
                  {{ url_for('auth.login') }}
              {% endif %}">
        SmartTrack
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-danger" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  